.header {
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #272a31;
    height: 80px;
}

.logo {
    width: 30px;
}

.logoText {
    width: 135px;
    margin-left: 15px;
}

.nav {
    margin-left: 6%;
    display: flex;
    color: #979aa1;
    height: 100%;

}

.link {
    align-self: center;
    margin-right: 40px;
}

.linkSelected {
    align-self: flex-end;
    margin-right: 40px;

}

.navBlock {
    color: #979aa1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
}

.navBlockSelected {
    cursor: pointer;
    display: flex;
    color: #50cff9;
    flex-direction: column;

}

.p2ph {
    position: relative;
}


.convertt {
    position: relative;
}



.navBlockSelected::after {
    content: '';
    margin-top: 0.4rem;
    align-self: center;
    width: 1.6rem;
    height: 0.7rem;
    background-color: #48abe0;
    border-radius: 3rem 3rem 0 0;
    animation: myAnim 0.8s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.navBlock:hover {
    color: #50cff9;
}

.dropdown {
    color: #979aa1;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 80px;
    width: 200px;
    transform: translateX(-27%);
    background-color: #272a31;
    border-radius: 5px;
    border: solid 0.01rem #7d8085;
    overflow: hidden;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.dropdown1 {
    animation-name: fadeOut;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.dropdown-arrow {
    height: 0;
    width: 0;
    margin-left: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #979aa1;
    position: relative;
    top: 8px;
    transition-duration: 0.5s;
}

.arrow-transform {
    transform: rotate(180deg);
    height: 0;
    width: 0;
    margin-left: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #50cff9;
    position: relative;
    top: 8px;
    transition-duration: 0.5s;
}

.navIcon {
    font-size: 24px;
}

.link-item {
    color: #979aa1;
}

.menu-item {
    transition-duration: 0.5s;
    padding: 2px 2px 2px 20px;
}

.menu-item:hover {
    background-color: #424c59;
}

.profile-menu-item {
    transition-duration: 0.5s;
    padding: 2px 2px 2px 20px;
}

.profile-menu-item-text {
    margin-right: 5px;
}

.profile-menu-item-text1 {
    transition-duration: 0.5s;
}

.profile-menu-item-text1:hover {
    color: #50cff9;
}


@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


@media only screen and (max-width: 1200px) {
    .header {
        display: none;
    }
    .dropdown {
        width: auto;
        right: 15px;
    }
}