.header {
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #272a31;
    height: 80px;
}

.brand {

}

.logo {
    width: 30px;
}

.logoText {
    width: 160px;
    margin-left: 15px;
}

.nav {
    margin-left: 6%;
    width: 45%;
    display: flex;
    color: #979aa1;
    justify-content: space-between;
    height: 100%;

}

.link {
    align-self: center;
}

.linkSelected {
    align-self: flex-end;

}

.navBlock {
    color: #979aa1;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.navBlockSelected {
    cursor: pointer;
    display: flex;
    color: #50cff9;
    flex-direction: column;

}

.navBlockSelected::after {
    content: '';
    margin-top: 0.4rem;
    align-self: center;
    width: 1.6rem;
    height: 0.7rem;
    background-color: #48abe0;
    border-radius: 3rem 3rem 0 0;
    animation: myAnim 0.8s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.navBlock:hover {
    color: #50cff9;
}

.navIcon {
    font-size: 24px;
}