.profile-header {
    margin-top: 40px;
    display: flex;
    width: 75%;
    flex-direction: column;
    position: relative;
}

.profile-username {
    display: flex;
    margin-left: 20px;
    margin-bottom: 40px;
    color: #979aa1;

}

.profile-links {
    display: flex;
    background-color: #272a31;
    border-radius: 10px;
    width: 100%;
    padding: 20px 50px;
    align-items: center;
}

.profile-links::-webkit-scrollbar-track
{
    border: 1px solid #49494b;
    background-color: #75777a;
}

.profile-links::-webkit-scrollbar
{
    height: 3px;
    background-color: #75777a;
}

.profile-links::-webkit-scrollbar-thumb
{
    background-color: #222223;
}

.profile-header-item {
    color: #979aa1;
    margin-right: 50px;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
}

.profile-header-item-selected {
    color: #50cff9;
    margin-right: 50px;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
}

.profile-header-item:hover {
    color: #50cff9;
}

.header-sticky {
    align-items: center;
    justify-content: space-between;
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 5;
    background-color: #1F4690;
    text-align: center;
    overflow-x: scroll;
}


@media only screen and (max-width: 1200px) {
    .profile-header {
        display: none;
    }
    .header-sticky {
        display: flex;
    }
    .profile-header-item {
        color: white;
        flex-direction: column;
        margin: 0;
        padding: 0 10px;
    }
}